body{
    font-family: 'Poppins', sans-serif;  
    margin: 0; 
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
.orange-color{
    color: rgb(255, 166, 0);
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
p{
    font-size: 20px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    margin-top: 5%;
 
}
.link-button{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(orange,tomato );
    padding: 10px 40px;
    border-radius: 5px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-item{
    box-shadow: 10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-left: 7px tomato solid;
}
#web-exp-item{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(21, 84, 219),rgb(0, 153, 255));
    border-image-slice: 1;
}
#full-stack-dev{
    border-left: 7px solid;
    border-image: linear-gradient(tomato,rgb(255, 129, 107));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}